@import '../../../styles/atoms/input/index.scss';
:host{

  .css-input {
    transition: border-color 0.2s ease-in-out;

    &[type='password'] {
      font-family: 'Courier New', monospace;
    }
    &[type='number'] {
      text-align: right;
    }
  }

}
